body, table td, select {
  font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
}
/*
body {
  color: #ffffff;
  background: #083109;
}
*/
body {
  color: black;
  background: white;
}


.gwt-textbox {
	font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.rebioma-FormInput-title {
  font-weight: bold;
  text-align: right;
}

.rebioma-FormInput-widget {
  position:absolute;
  left:150px;
  font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.rebioma-logo {
  position:relative;
  top:-12px;
  /*cursor: pointer;*/
  
}

.rebioma-Form-buttons {
  position:relative;
  left:5px;
}

.rebioma-Form-inputs-panel {
  position:relative;
  left:18px;
}
/*
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #ece9d8;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #ECE9D8;
} 
.gwt-TabBar .gwt-TabBarItem-disabled {
  cursor: default;
  color: #999999;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-style:solid;
  border-width:0px 0px 0px 0px;
  overflow:hidden;
  padding:0;
  width: 100%;
}
*/

/*
.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #ece9d8;
}
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}
.gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/tan_corner.png) no-repeat 0px -55px;
}
.gwt-DecoratedTabBar .tabTopRight {
  background: url(images/tan_corner.png) no-repeat -6px -55px;
}
* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #ece9d8;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: normal;
  text-align: center;
  color: #6D6968;
  background: #ece9d8;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #ECE9D8;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #ECE9D8;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  font-weight: bold;
  text-transform: capitalize;
  color: #84BD0E;
  background-color: #ECE9D8;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}
*/

.Pager {
  padding-right: 1px;
}

.Pager .gwt-HTML {
  font-size: 14px;
  font-style: bold;
  color: red;
  display: inline;
  white-space: nowrap;
  vertical-align: middle;
}

 /**
 * Applied to the main layout of the page.
 */
.Application-Reference-standard { 
  height: 5px;
  width: 5px;
  zoom: 1;
}
.Application-top {
  width: 100%;
  margin-bottom: 10px;
}
.Application-title {
  padding: 0px 0px 0px 10px;
}
.Application-title h1 {
  color: #67A7E3;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 22px;
}
.Application-title h2 {
  color: #888;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 16px;
}

.Application-links {
  padding: 2px 13px 2px 0px;
  /*background-color: #083109;DCEDA7*/
  background-color: #DCEDA7;/**/
  height: 20px;
}

.Application-links .gwt-HTML{
  font-size: 14px;
  display: inline;
  vertical-align: middle;
 /* color: #ffffff;*/
}

.gwt-Hyperlink {
  font-size: 14px;
  white-space: nowrap;
}

.gwt-Button {
  font-size: 14px;
  font-family:Trebuchet Ms;
}
.Application-options {
  padding: 6px 10px 0px 0px;
}
.Application-options .gwt-ListBox {
  width: 150px;
  font-size: 11px;
  color: blue;
  margin-left: 4px;
}
.Application-options td {
  font-size: 14px;
}
.Application-options .gwt-ToggleButton {
  margin: 3px 0px 0px 10px;
  padding: 0px;
}
.Application-options .gwt-ToggleButton-down,
.Application-options .gwt-ToggleButton-down-hovering {
  cursor: default;
}
.Application-options .sc-ThemeButton-standard {
  background-color: #ece9d8;
}
.Application-options .sc-ThemeButton-chrome {
  background-color: #ccc;
}
.Application-options .sc-ThemeButton-dark {
  background-color: #3d3d3d;
}
.Application-menu {
  width: 18em;
  text-align: left;
}

.Application-bottom {
  position: relative;
  top: -22px;
}

/**
 * Applied to widgets in the content area.
 */
.Application-content-decorator {
  margin-right: 8px;
}
.Application-content-title {
  padding: 4px 0px 3px 6px;
  text-align: left;
  background: #e3e8f3 url(../gwt/standard/images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 2px solid #bbcdf3;
}
.Application-content-title .gwt-TabBarItem {
  background: none;
  padding: 0px;
}
.Application-content-title  .gwt-TabBarItem .gwt-Label {
  padding-right: 20px;
  color: #888888;
}
.Application-content-title  .gwt-TabBarItem-selected .gwt-Label {
  color: black;
}
.Application-content-wrapper {
  text-align: left;
}
.sc-ContentWidget {
  padding: 10px 20px;
}
.sc-ContentWidget-name {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 15px;
}
.sc-ContentWidget-description {
  padding-bottom: 15px;
  border-bottom: 1px solid #7aa5d6;
  margin-bottom: 15px;
}
.sc-ContentWidget pre {
  border: 1px solid #888;
  background-color: #eeeeee;
  padding: 10px 2px;
  margin: 10px 0px;
}

/**
 * Applied to specific components in Content Widgets.
 */
.cw-BasicPopup-thumb {
  cursor: pointer;
  cursor: hand;
}

.cw-DictionaryExample-headerRow td {
  color: #7aa5d6;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 20px;
}
.cw-DictionaryExample-dataRow td {
  padding-left: 20px;
}

.cw-DockPanel td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}

.cw-FlowPanel-checkBox {
  margin-right: 20px;
}

.cw-RedText {
  color: red;
}

.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
}

/**
 * upload style sheet
 */

.OccurrenceMapView {
  padding: 0px 0px;
  width:100%;
  height:100%;
}


.OccurrenceMapView-ToolBar {
  background-color:#ECE9D8;/*84BD0E*/
    /*border-top: 5px solid #083109;*/
  /*border-top: 5px;*/
  border-top: 5px solid white;
 /* border-left: 10px solid #083109;
  border-right: 10px solid #083109;*/
  height:20px;
  width:100%;
  
}

.OccurrenceMapView-Map {
  width:100%;
}

.OccurrenceView-ToolBar {
  /*background-color: #84BD0E;*/
  background-color:#ECE9D8;
  padding: 0px 10px 0px 10px; 
  vertical-align: middle; 
}
.OccurrenceView-ToolBar .ResultFilter {
  display: inline;
  vertical-align: middle;
  font-size: 14px;
}

.OccurrenceView-ToolBar .Search-Form  .Option, .TypeBox, .SharedListBox{
  font-size: 14px;
  display: inline;
  vertical-align: middle; 
}


.OccurrenceView-ToolBar .searchLabel, .forLabel  {
  font-weight: bold;
  display: inline;
  font-size: 14px;
  vertical-align: middle; 
}


.OccurrenceView-ToolBar .Search-Form .AdvanceLink, .ClearAdv{
  /*border-left: 5px solid #ECE9D8;*/
  background: url("images/advanced-search.png") no-repeat;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
  border-left: 20px;
  white-space: nowrap;
  vertical-align: middle; 
  font-size: 14px;
  text-align: middle;
}

.OccurrenceView-ViewSwitcher {
	padding-right: 23px;
	width: 100%;
}


.link{
  
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  /*color:#FFD838;*/
  color: blue;
  display: inline;
  vertical-align: middle;
}

.link2 {
    color: #0000FF;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    vertical-align: middle;
}

.listlink{
  background: url("images/table.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.maplink{
  background: url("images/map.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.uploadlink{
  background: url("images/upload.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}
.revalidatelink{
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.actionlink{
  background: url("images/activity.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.revalidatelink .revalidatelink_success{
	background: url("images/greenCheck.png") no-repeat;
	color: green;
}
.revalidatelink .revalidatelink_error{
	background: url("images/redX.png") no-repeat;
	color: red;
}

.helplink {
  background: url("images/database-table.png") no-repeat;
  display: inline;
  font-weight: bold;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.detaillink{
  background: url("images/detail.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color:#77C;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.showlayerslink{
  background: url("images/suchen.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color:#77C;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.downloadlink{
  background: url("images/download.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /*color:#FFD838;*/
  color:blue;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}

.metadatalink a:link {
  background: url("images/metadata.png") no-repeat;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color:#77C;
  display: inline;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  margin-right: 0.25em;
}


a, a:visited, a:hover {
/*color: #FFC819;*/
text-decoration: none;
}
/*
.tab-contents .tools-bar .current-view{
  font-weight: bold;
  color: black;
  font-size:  12px;
}
/*
.tab-contents .content {
  vertical-align: top;
  border-top: thick solid #083109;
}
*/

.tab-contents .content {
  vertical-align: top;
  border-top: thick solid white;
}

.map-content .tools-bar {
  vertical-align: top;
  background-color: #ECE9D8;
  
}

.map-content .content {
  vertical-align: top;
}

.map-content {
  vertical-align: top;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;   
}

.Map {
	cursor: crosshair;
}

/**
* View Content
*/
.View-Content {
  border-color: #ECE9D8;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  /*width: 100%;*/
}

.View-Content content pup{
  border-color: #92C1F0;
  border-style: solid;
  border-width: 0px 2px 0px 2px;
  width: 100%;
  background: white;
}

.View-Content .tool {
  width: 100%;
  background-color: #ECE9D8;
  margin-bottom: 1px;
  margin-top: 5px;
}
/*
.View-Content .content {
  width: 100%;
  border-color: #ECE9D8;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
}
*/
.rbm-Map {
	
  /*border-color:#ECE9D8;
  padding: 2px 13px 2px 0px;
  border-style:solid;
  border-width:5px 5px 5px 0px;*/
}
.rbm-Left-Map {
 /* border-color:#ECE9D8;
  border-style:solid;
  padding: 2px 0px 2px 0px;
  border-width:5px 0px 5px 5px;
  width: 257px;*/
}

/**
* Table Widget
*/



.Table-TableWidget {
 width: 100%; 
}

.Table-TableWidget .footer {
  background-color: #ECE9D8;
 /* border-top: thin solid black; */
}


.navbar {
  width: 100%;
  vertical-align: middle;
  /*border-bottom: thick solid #083109; */
  border-bottom: thick solid white; 
}

.navbar button {
  text-align: center;
  vertical-align: middle;
}

.navbar .status {
  vertical-align: middle;
  font-size: 14px;
  padding-right: 10px;
  
}

.OccurrenceView-ListView {
  padding: 0px 0px;
}

.OccurrenceView-ListView .Tool {
  /*background-color: #84BD0E;*/
  background-color: #ECE9D8;
  width: 100%;
  /*border-top: 0px solid #083109;*/
  border-top: 0px solid white;
  height: 20px;
}

.OccurrenceView-ListView .Tool .Action-Tool .Apply-All {
  color: gray;
}

.Table-TableWidget .header {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: blue;
  background-color: #ECE9D8/*#D6EAF3*/;
  width: 100%;
  border-top: thin solid white;
  border-right: 0px solid #A4A4A4;
  border-left: thin solid white;
}

.Table-TableWidget .header .checkbox {
  width: 24px;
  border-right: 1px solid white;
}

.Table-TableWidget .header .id {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  background-color: #ECE9D8;
  width: 80px;
  border-right: thin solid #A4A4A4;
  border-left: thin solid #A4A4A4;
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 89px;
}

.Table-TableWidget .header .accepted-species {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  background-color: #ECE9D8;
  width: 200px;
  white-space: nowrap;
  border-right: thin solid #A4A4A4;
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 199px;
}

.Table-TableWidget .header .public {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  width: 60px;
  border-right: thin solid #A4A4A4;
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 49px;
}

.Table-TableWidget .header .validated {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  width: 80px;
  border-right: thin solid #A4A4A4;
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 59px;
   
}

.Table-TableWidget .header .vetted {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  width: 80px;
  border-right: thin solid #A4A4A4; 
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 64px;
}

.Table-TableWidget .header .owner-email {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  width: 150px;
  border-right: thin solid #A4A4A4; 
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 199px;

}

.Table-TableWidget .header .shared-users {
  /*text-align: left;*/
  font-size: 14px;
  color: black;
  font-weight:bold;/*
  width: 200px;
  border-right: thin solid #A4A4A4; 
  padding-left: 5px;
  padding-right: 5px;background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 199px;
}

.Table-TableWidget .header .validation-error {
  /*text-align: left;*/
  font-weight: bold;
  font-size: 14px;
  color: black;/*
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 0px solid white;
  /*
  color: #69939E;
  font-size: 12px;*/
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  min-width:150px;
}
.Table-TableWidget .header .year-c {
  /*background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  color: black/*#69939E*/;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 92px;
}
.Table-TableWidget .header .attributes {
  /*background: -moz-linear-gradient(left center , #E3F2F6 0px, #D6EAF3 14px, #D6EAF3 100%) repeat scroll 0 0 transparent;
  */
  background-color: #ECE9D8;
  border-left: 1px solid #BBD3DA;
  border-right: 1px solid white;
  color: black/*#69939E*/;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  width: 89px;
}
.Table-TableWidget .table {
  width: 100%;
  border-left: thin solid white;
  border-right: thin solid white;
  border-bottom: thin solid #A4A4A4;
}

.Table-TableWidget .table .row {
  vertical-align: top;
  /*background-color: #083109;*/
  background-color: white;
  border-top: thin solid #A4A4A4;
  padding-top: 0px;
  padding-bottom: 0px; 
}

.Table-TableWidget .table .row .col-checkbox {
  /*width: 25px;*/
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.Table-TableWidget .table .row .col-id {
  width: 78px;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: blue;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}  

.Table-TableWidget .table .row .col-accepted-species {
  width: 188px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 0px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-public {
  width: 38px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.Table-TableWidget .table .row .col-validated {
  width: 48px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.Table-TableWidget .table .row .col-vetted {
  width: 53px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.Table-TableWidget .table .row .col-owner-email {
  width: 188px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-shared-users {
  width: 188px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}
.Table-TableWidget .table .row .col-year-c {
  width: 81px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-attributes {
  width: 78px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.Table-TableWidget .header .first-name {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color:black;
  background-color: #ECE9D8;
  width: 102px;
  border-right: thin solid #A4A4A4;
  border-left: thin solid #A4A4A4;
  padding-left: 5px;
  padding-right: 5px;
}

/*
* CSS for Collaborator table
*/
.Table-TableWidget .header .last-name {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  background-color: #ECE9D8;
  color:black;
  width: 102px;
  border-right: thin solid #A4A4A4; 
  padding-left: 5px;
  padding-right: 5px;
}

.Table-TableWidget .header .email {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  background-color: #ECE9D8;
  color:black;
  width: 152px;
  border-right: thin solid #A4A4A4; 
  padding-left: 5px;
  padding-right: 5px;
}

.Table-TableWidget .header .institution {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color:black;
  background-color: #ECE9D8;
  width: 102px;
  padding-left: 5px;
  padding-right: 5px;
}


.Table-TableWidget .table .row .col-first-name {
  font-size: 14px;
  width: 100px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-last-name {
  font-size: 14px;
  width: 100px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-email {
  font-size: 14px;
  width: 150px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.Table-TableWidget .table .row .col-institution {
  font-size: 14px;
  width: 100px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}


.Table-TableWidget .table .row .col-validation-error {
  font-size: 14px;
  padding-left: 0px;
  padding-right: 0px;
  min-width:150px;
}

.text {
  white-space: nowrap;
  font-size: 14px !important;
  font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif !important;
  text-overflow: ellipsis;
}
/*
* for gxt button
*/
.text td div, .text div span, .text div {
  white-space: nowrap;
  font-size: 14px !important;
  font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif !important;
  text-overflow: ellipsis;
}
/*
* for gxt tabpanel
*/
.text span span {
  white-space: nowrap;
  font-size: 14px !important;
  font-family: Trebuchet MS, Verdana,Helvetica,Arial,sans-serif !important;
  text-overflow: ellipsis;
}

.gwt-Label {
  font-size: 14px;
} 

/*
* OccurrenceView-Detail Styles
*/

.OccurrenceView-Detail {
/*   padding-left: 10px; */
/*   padding-right: 10px; */
  width: 100%;
}

.OccurrenceView-Detail .Print-View{
  position: absolute;
  left: 0px;
  top: 0px;
}

.OccurrenceView-Detail .Tool {
  /*background-color: #84BD0E;*/
  background-color: #ECE9D8;
  /*border-top: 5px solid #083109;*/
/*   border-top: 5px solid white; */
}

.OccurrenceView-Detail .Tool .OccurrenceLinks {
	/*width: 300px;*/
	display: inline;
	border-left: thin solid #A4A4A4;
	
}
.OccurrenceView-Detail .Tool .OccurrenceLinks .Selected{
  font-weight:bold;
  color: black;
}
.OccurrenceView-Detail .Tool .OccurrenceLinks .occurrenceLink {
  white-space: nowrap;
  padding: 0px 5px 0px 5px;
  border-right: thin solid #A4A4A4; 
  display: inline;
}

.OccurrenceView-Detail .Footer {
  background-color: #ECE9D8;
}

.OccurrenceView-Detail .Detail .gwt-TreeItem, .nonSelected .gwt-TreeItem  {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}

.OccurrenceView-Detail .Detail .gwt-TreeItem-selected {
  font-size: 14px;
  background-color: #93c2f1;
}

.OccurrenceView-Detail .nonSelected .gwt-TreeItem-selected {
  font-size: 14px;
}


.OccurrenceView-Detail .Small-Map {
  /*border-top: 10px solid #083109;*/
/*   border-top: 10px solid white; */
  width: 300px;
  height: 300px;
}

.OccurrenceView-Detail .Update-Buttons {
 /* border-top: 10px solid #083109;
  border-left: 8px solid #083109;*/
}

/*
.OccurrenceView-Detail .Expand-Links {
 border-left: 8px solid #083109;
}
*/

.OccurrenceView-Detail .Expand-Links {
 border-left: 8px solid white;
}



.OccurrenceView-Detail .gwt-Button {
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
 /* border: 1px outset #ccc;*/
}

.OccurrenceView-Detail .Field-Editor {
  height: 23px;	
}

.OccurrenceView-Detail .Field-Editor .selected {
  font-size: 14px;
  font-weight: bold;
  background-color: #93c2f1;
}
.OccurrenceView-Detail .Field-Editor .non-selected {
  font-weight: bold;
  font-size: 14px;
}
.OccurrenceView-Detail .Field-Editor .editor {
  font-size: 14px;
  width: 200px;
}

.OccurrenceView-Detail .Field-Editor .display, .value {
  font-size: 14px;
}

.OccurrenceView-Detail .Field-Editor .mouse-over {
font-size: 14px;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: gray #C0C0C0 #C0C0C0 gray;
  width: 200px;
}

.OccurrenceView-Detail .Field-Editor .mouse-not-over {
font-size: 14px;
/*  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: #083109;*/
  width: 200px;
}
.OccurrenceView-Detail .Field-Editor .not-editable {
  font-size: 14px;
  color: gray;
}

.OccurrenceView-Detail .Field-Editor .error {
  font-size: 14px;
  color: red;
}

.OccurrenceView-Detail .Field-Editor .changed {
  color: blue;
  font-size: 14px;
}

.OccurrenceView-Detail .Left .Comment {
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #ECE9D8;
  width: 300px;
}

.OccurrenceView-Detail .Left .Comment .Title{
/*   width: 100%; */
  background-color: #ECE9D8;
  height: 20px;
  font-size: 14px;
/*  color:#083109;*/
  color: white;
  padding-left: 5px;
}

.OccurrenceView-Detail .Left .Comment .Editor-Editing {
  color: black;
  font-size: 14px;
  width: 20em;
  height: 10em;
}

.OccurrenceView-Detail .Left .Comment .Editor-Viewing {
  color: gray;
  font-size: 14px;
  width: 20em;
  height: 10em;
}
.OccurrenceView-Detail .Left .Display-Comment {
  width: 300px;
}


.OccurrenceView-Detail .Left .Display-Comment .user-comment {
  width: 100%;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #ECE9D8;
  padding-left: 5px;
  padding-bottom: 5px;
}

.OccurrenceView-Detail .Left .Display-Comment .user-comment .display {
  font-size: 14px;
}

.OccurrenceView-Detail .Left .Display-Comment .user-comment .link {
  text-align: right;
}

/**
* Advance Search
*/

.AdvanceSearch {
  padding-right: 10px;
  padding-right: 10px;
  /*border-top: 5px solid #083109;
  border-bottom: 5px solid #083109;*/
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.AdvanceSearch .Label {
  font-size: 14px;
}

.AdvanceSearch .AddButton{
  padding: 0px;
}

.AdvanceSearch .QueriesTable .EditBox {
  width: 150px;

}

.hover {
  font-size: 14px;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: gray #C0C0C0 #C0C0C0 gray;
  vertical-align: bottom;
  width: 150px;
  height: 24px;
}
.out{
  font-size: 14px;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: #083109;
  
  width: 150px;
  height: 24px
}

.AdvanceSearch .QueriesTable .cell {
  font-size: 14px;
  vertical-align: middle;
}
html>body .AdvanceSearch .QueriesTable {
  font-size: 14px;
}

.AdvanceSearch .SearchArea {
  padding-left: 20px;
}

.AdvanceSearch .SearchArea .SearchLabel {
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.AdvanceSearch .SearchArea .SearchField {
  vertical-align: middle;
}

.AdvanceSearch .SearchArea .SearchField 
.ListBox, 
.Exact-CheckBox {
  font-size: 14px;
  vertical-align: middle;
}

.AdvanceSearch .SearchArea .SearchField .Tip {
  font-size: 10px;
  vertical-align: middle;
  color: gray;
}

.AdvanceSearch .SearchArea .SearchField 
.Label {
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
}

.AdvanceSearch .Selection {
  font-size:12px;
}

.SuggestFields .item {
  font-size: 14px;
}

.rebioma-legendWidget {
  /*background-color: #083109;*/
  background-color: white;
  padding:0.5em;

  font-size:x-small;
  border: 1px solid black;
  font-size:x-small;
}

.map-LegendValue {
	color: green;
	padding-left: 5px;
}

.map-LegendDetailLink {
  padding-right: 5px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: hand;
  cursor: pointer;
  color: blue;
}

.map-GeoCoder {
  
  font-size:x-small;
  border: 1px solid black;
}

/**
* Marker List styles
**/

.Marker-List {
  width: 100%;
}

.Marker-List .gwt-HTML {
  font-size:12px;
}

.Marker-List .gwt-ListBox {
  font-size:10px;
}

.Marker-List .Marker-Item .Taxonomic {
  font-size: 14px;
  white-space: nowrap;
}

.Marker-List .Marker-Item .AcceptedSpecies {
  color: black;
}

.Marker-List .Marker-Item .detail-link {
  color: #7777CC;
  /*font-style: italic;*/
}

/**
* Layers Popup Info styles
*/
.LayerInfo {

}

.LayerInfo .Caption{
  font-size: 14px;
  color:black;
}

.LayerInfo .Field {
  font-size: 14px;
  font-weight: bold;
  text-align: middle;
  color:black;
}

.LayerInfo .Value {
  font-size: 14px;
  text-align: middle;
  color:black;
}

.LayerInfo .Value a:link {
  font-size: 14px;
  text-align: middle;
  color:blue;
}

.loading {
  font-size: 14px;
  text-align: middle;
  color:red;
}

.popup {
  font-size: 14px;
  text-align: middle;
  color:black;
}

.gwt-dialogbox .dialogcontent {
	color:black;
	/*background: #083109;*/
}

.gwt-dialogbox .caption {
	color:black;
}

.SearchField {
	
}

.SearchField .gwt-RadioButton{
  font-size: 14px;
  white-space: nowrap;
}

.UserProfilesView .UserSearchField td {
  font-size: 14px;
  white-space: nowrap;
}

.UserProfile {
	
}

.UserProfile .edited{
  color: blue;
}

.UserProfile td {
  font-size: 14px;
}

.UserProfile .error{
  color: red;
  font-size: 10px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.assignmentLink {
  padding: 0px 0px 0px 10px;
}
.assignment_popup .title {
  font-weight: bold;
  font-size: 14px;
}

.table {
  padding: 0px 0px 0px 0px;
  border-left: thin solid #C3D9FF;
  border-right: thin solid #C3D9FF;
  border-bottom: thin solid #C3D9FF;
}

.table .header {
  background: #C3D9FF;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.table .header .name {
  width: 80px;
  border-right: thick solid #C3D9FF;
}

.table .header .email {
  width: 200px;
  border-right: thick solid #C3D9FF;
}

.table .header .reviewed {
  width: 80px;
  border-right: thick solid #C3D9FF;
}

.table .header .reviewed_date {
  width: 150px;
}

.table .row_even {
   background-color: #C4C4C4;
}

.table .row {
  overflow:hidden;
}

.center {
  text-align: center;
}

.table .row_odd {
  
}

.table .title {
  font-weight: bold;
  font-size: 14px;
}

.download_link {
  padding: 0px 0px 0px 10px;
}

.modeling_check_box {
  padding: 0px 10px 0px 0px;
}

.googft-info-window td { background-color: yellow }

div#content {
	color:black;
}

.adress {
	color:black;
}

.latlong {
	color:black;
}
.species-info-container{
	overflow: auto;
	padding: 2px 5px;
}
.species-info-container .specie-info-label {
	font-size: 11px;
}
.species-info-container .specie-info-value{
	margin-left: 10px;
	font-size: 12px;
  	font-family:Trebuchet Ms;
  	font-weight: bold;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.table-right td > div {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}
	
.table-right td > select{
	float: right;
	margin-right: 5px;
}

.btn-right{
	float: right;
/* 	margin-right: 3px; */
}

.table-row {
}
.table-row tbody td {
    background-color: #FFFFFF;
    /*border-bottom: 1px solid #DDDDDD;*/
	cursor: default;
	border-left: 1px dotted #BBD3DA;
    /*overflow: hidden;*/
    padding: 6px;
    margin: 0px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}
.table-row tbody td:first-child {
    border-left: 0 none;
}
.table-row {
    border-collapse: collapse;
    border-spacing: 0;
}
.l-table {
	border-right: solid 1px white;
	border-left: solid 1px white;
}

.padding05 {
	padding: 0 5px 5px 5px;
}
.log-all {
    background: url("images/arrow_grey.png") no-repeat scroll 3px center rgba(0, 0, 0, 0);
    border-top: 1px solid #D0D0D0;
    margin-top: 25px;
    padding: 4px 25px;
    cursor: pointer;
}

.log-link {
    background: url("images/arrow_grey.png") no-repeat scroll 3px center rgba(0, 0, 0, 0);
    padding: 4px 25px;
    cursor: pointer;
}
.active {
/* 	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAATklEQVR42uWSwQkAQQgDt3l78OtHtBRLEbSGHNuCwj3upoAhJDnnm0QEVgJVhbvPJWaG7oaIYJzgUlVgZowFl8wEEeH9BOsOViusf/AzHmlPUeJeP5BFAAAAAElFTkSuQmCC") no-repeat scroll 4px center rgba(0, 0, 0, 0); */
	background: url("images/arrow_blue.png") no-repeat scroll 3px center rgba(0, 0, 0, 0);
    font-weight: bold;
	cursor: auto;
}
.a-link {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}
.m-hover {
	text-decoration: underline;
}
.disable {
	pointer-events: none;
	color: gray;
}
.d-hover #d_id {
	background: #DEEBF7 !important;
}
.infop {
	color:blue;font-style:italic;text-align: justify;
}
	